# Tutorial: Fetch Basic Stock Information with Python
*Learn how to retrieve basic stock data, including company profile, key officers, earnings call transcripts and news step by step using Python.*

## Step 1: Install and Import Required Packages, Initialize Ticker
*In this step, you’ll set up your Python environment and initialize a stock ticker object for fetching data.*

In [8]:
from defeatbeta_api.data.ticker import Ticker

In [2]:
ticker = Ticker("BABA")

----

## Step 2: Fetch and Inspect Stock Profile Data

*You will learn how to access basic stock metrics such as market capitalization, sector, industry, and other company details.*

In [4]:
ticker.info()

,symbol,address,city,country,phone,zip,industry,sector,long_business_summary,full_time_employees,web_site,report_date
0,BABA,"26/F 1 Matheson Street, Tower One, Times Square",Causeway Bay,Hong Kong,852 2215 5100,None,Internet Retail,Consumer Cyclical,"Alibaba Group Holding Limited, through its sub...",126661,https://www.alibabagroup.com,2025-11-29

----

## Step 3: Retrieve Key Officers and Management Information

*In this step, you’ll extract information about the company’s executives and board members.*

In [5]:
ticker.officers()

,symbol,name,title,age,born,pay,exercised,unexercised
0,BABA,Lydia Lu,Head of Investor Relations,<NA>,<NA>,<NA>,0,0
1,BABA,Mr. Hong Xu,Chief Financial Officer,51,1973,<NA>,0,0
2,BABA,Mr. J. Michael Evans,President & Director,66,1958,<NA>,0,0
3,BABA,Mr. Joseph C. Tsai,Executive Chairman,60,1964,<NA>,0,0
4,BABA,Mr. Xiaofeng Shao,Group Executive Vice President,58,1966,<NA>,0,0
5,BABA,Mr. Yongming Wu,"CEO, Head of Core E-Commerce Business & Director",49,1975,<NA>,0,0
6,BABA,Mr. Yuen Jen Yao,Senior VP & Head of Corporate Finance,<NA>,<NA>,<NA>,0,0
7,BABA,Mr. Zeming Wu,Chairman & Chief Executive Officer of Ele.me a...,44,1980,<NA>,0,0
8,BABA,Ms. Fang Jiang,Chief People Officer,50,1974,<NA>,0,0
9,BABA,Ms. Siying Yu,General Counsel,50,1974,<NA>,0,0

----

## Step 4: Accessing Earnings Call Transcripts

*In this step, you’ll learn how to retrieve and inspect a company’s earnings call transcripts, which provide insights into management commentary and quarterly performance.*

### 4.1 Fetching the List of Available Transcripts

*First, we’ll fetch a list of all earnings call transcripts available for the stock.*
> **Tip:** This list helps you identify which quarters and years have transcripts available before fetching specific ones.

In [6]:
# Initialize transcripts object
transcripts = ticker.earning_call_transcripts()

In [7]:
# Get the list of available transcripts
transcripts.get_transcripts_list()

,symbol,fiscal_year,fiscal_quarter,report_date,transcripts,transcripts_id
0,BABA,2015,2,2014-11-04,"[{'paragraph_number': 1, 'speaker': 'Executive...",75251
1,BABA,2015,3,2015-01-29,"[{'paragraph_number': 1, 'speaker': 'Executive...",75253
2,BABA,2015,4,2015-05-07,"[{'paragraph_number': 1, 'speaker': 'Executive...",75254
3,BABA,2016,1,2015-08-12,"[{'paragraph_number': 1, 'speaker': 'Executive...",75255
4,BABA,2016,2,2015-10-27,"[{'paragraph_number': 1, 'speaker': 'Executive...",75256
5,BABA,2016,3,2016-01-28,"[{'paragraph_number': 1, 'speaker': 'Executive...",75257
6,BABA,2016,4,2016-05-05,"[{'paragraph_number': 1, 'speaker': 'Executive...",75258
7,BABA,2017,1,2016-08-11,"[{'paragraph_number': 1, 'speaker': 'Executive...",75259
8,BABA,2017,2,2016-11-02,"[{'paragraph_number': 1, 'speaker': 'Executive...",75260
9,BABA,2017,3,2017-01-24,"[{'paragraph_number': 1, 'speaker': 'Executive...",75261
10,BABA,2017,4,2017-05-18,"[{'paragraph_number': 1, 'speaker': 'Executive...",75262
11,BABA,2018,1,2017-08-17,"[{'paragraph_number': 1, 'speaker': 'Executive...",75263
12,BABA,2018,2,2017-11-02,"[{'paragraph_number': 1, 'speaker': 'Executive...",75264
13,BABA,2018,3,2018-02-02,"[{'paragraph_number': 1, 'speaker': 'Executive...",75265
14,BABA,2018,4,2018-05-04,"[{'paragraph_number': 1, 'speaker': 'Executive...",75266
15,BABA,2019,1,2018-08-23,"[{'paragraph_number': 1, 'speaker': 'Executive...",75267
16,BABA,2019,2,2018-11-02,"[{'paragraph_number': 1, 'speaker': 'Executive...",75268
17,BABA,2019,3,2019-01-30,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75269
18,BABA,2019,4,2019-05-15,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75270
19,BABA,2020,1,2019-08-15,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75271
20,BABA,2020,2,2019-11-01,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75272
21,BABA,2020,3,2020-02-13,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75273
22,BABA,2020,4,2020-05-22,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75274
23,BABA,2021,1,2020-08-20,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75276
24,BABA,2021,2,2020-11-05,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75278
25,BABA,2021,3,2021-02-02,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75280
26,BABA,2021,4,2021-05-13,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75282
27,BABA,2022,1,2021-08-03,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75284
28,BABA,2022,2,2021-11-18,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75286
29,BABA,2022,3,2022-02-24,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75288
30,BABA,2022,4,2022-05-26,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75290
31,BABA,2023,1,2022-08-04,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75292
32,BABA,2023,2,2022-11-17,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75294
33,BABA,2023,3,2023-02-23,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75296
34,BABA,2023,4,2023-05-18,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75298
35,BABA,2024,1,2023-08-10,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75300
36,BABA,2024,2,2023-11-16,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75302
37,BABA,2024,3,2024-02-07,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75304
38,BABA,2024,4,2024-05-14,"[{'paragraph_number': 1, 'speaker': 'Operator'...",75306
39,BABA,2025,1,2024-08-15,"[{'paragraph_number': 1, 'speaker': 'Operator'...",478451
40,BABA,2025,2,2024-11-15,"[{'paragraph_number': 1, 'speaker': 'Operator'...",478450
41,BABA,2025,3,2025-02-20,"[{'paragraph_number': 1, 'speaker': 'AI Insigh...",<NA>
42,BABA,2025,4,2025-05-15,"[{'paragraph_number': 1, 'speaker': 'AI Insigh...",<NA>
43,BABA,2026,1,2025-08-29,"[{'paragraph_number': 1, 'speaker': 'Operator'...",<NA>

### 4.2 Fetching the Q4 2024 Earnings Call Transcript

*Next, we’ll fetch the full transcript for a specific quarter, e.g., Q4 2024.*
> **Tip:** You can change the year and quarter parameters to fetch other earnings calls.

In [8]:
transcripts.get_transcript(2024, 4)

,paragraph_number,speaker,content
0,1,Operator,"Good day, ladies and gentlemen. Thank you for ..."
1,2,Rob Lin,"Thank you. Good day, everyone. Welcome to Alib..."
2,3,Eddie Wu,"Hello, everyone. Following several quarters of..."
3,4,Jiang Fan,"Greetings. This is Jiang Fan, and it's a pleas..."
4,5,Toby Xu,"Thank you, Jiang Fan. First, I will provide a ..."
5,6,Rob Lin,"Hi everyone. For today's call, you are welcome..."
6,7,Operator,Thank you. [Operator Instructions]. Your first...
7,8,Kenneth Fong,"Hi. Good evening, management. Thanks for takin..."
8,9,Toby Xu,"Kenny, thanks for the question. I think I will..."
9,10,Jiang Fan,"Okay, before Eddie adds on, gives you more col..."
10,11,Eddie Wu,Thank you. Yes. So moving ahead with Omni plat...
11,12,Rob Lin,Okay. Next question.
12,13,Operator,Thank you. Your next question comes from Gary ...
13,14,Gary Yu,"Hi. Thank you, management, for the opportunity..."
14,15,Eddie Wu,Thank you. This is Eddie. I’ll take that. If y...
15,16,Rob Lin,Next question please.
16,17,Operator,Thank you. Your next question comes from Alex ...
17,18,Alex Yao,Good evening management team. And thank you fo...
18,19,Eddie Wu,"Thank you. Overall, I think it's really about ..."
19,20,Rob Lin,Next question.
20,21,Operator,Thank you. Your next question comes from Ellie...
21,22,Ellie Jiang,Thank you. I have a follow-up question about t...
22,23,Eddie Wu,"Just to clarify the question, are you asking a..."
23,24,Ellie Jiang,So basically focusing on the omni-platform Mar...
24,25,Eddie Wu,Right understood. I think different platforms ...
25,26,Rob Lin,Next question.
26,27,Operator,Thank you. The next question comes from Alicia...
27,28,Alicia Yap,"Hi. Good evening, management. Thanks for takin..."
28,29,Toby Xu,"Alicia, thanks for the question. I'll take on ..."
29,30,Rob Lin,Next question.
30,31,Joe Tsai,"Sorry, Rob. Alicia this is Joe Tsai. I'd also ..."
31,32,Eddie Wu,Yeah. This is Eddie. I’d just like to chip in ...
32,33,Rob Lin,Thank you. Next question.
33,34,Operator,Your next question comes from Ronald Keung wit...
34,35,Ronald Keung,"Thank you. Thank you Joe, Eddie, Toby and Rob...."
35,36,Eddie Wu,Thank you. I think there are really two princi...
36,37,Rob Lin,Thank you. Next question.
37,38,Operator,Thank you. Your next question comes from Yang ...
38,39,Yang Bai,Thank you. My question has to do with the comp...
39,40,Eddie Wu,"Thank you, for that question. Our share repurc..."
40,41,Rob Lin,Thank you. Your next question.
41,42,Operator,Thank you. Your next question comes from Joyce...
42,43,Joyce Ju,Thank you. My question is also about AIDC in p...
43,44,Eddie Wu,AE Choice is a business model that is best sui...
44,45,Rob Lin,Thank you. Let's invite the last question.
45,46,Operator,Thank you. Your next question comes from James...
46,47,James Lee,Great. Thanks for taking my question. And this...
47,48,Eddie Wu,I think it's okay. Could I just ask you please...
48,49,James Lee,"Yes, it's development of large language model...."
49,50,Eddie Wu,"Right. Well, I think all of the companies in t..."
50,51,Rob Lin,"Okay, that concludes our earnings call today a..."
51,52,Operator,That does conclude our conference for today. T...

---

## Step 5: Accessing Financial News

*In this step, you’ll learn how to retrieve recent financial news related to the company, including listing articles, fetching specific news content, and displaying formatted summaries.*

### 5.1 List All News Articles

*First, let’s fetch the list of all available news articles for the stock.*
> **Tip:** The returned list includes each article’s title, publication date, and news ID, which you’ll need to fetch full content.

In [14]:
news = ticker.news()

In [15]:
# List available news articles
news.get_news_list()

,uuid,related_symbols,title,publisher,report_date,type,link,news
0,32e2a5fe-6ef7-331b-afc2-15421e1baba5,"[ALLE, BABA, CSPI, NFLX, VEEV, XOM]","Top Analyst Reports for Exxon Mobil, Netflix &...",Zacks,2025-03-12,STORY,https://finance.yahoo.com/news/top-analyst-rep...,"[{'paragraph_number': 1, 'highlight': '', 'par..."
1,112b9ed0-72fc-39b4-b756-ca1c14975bc9,"[BABA, CSPI, NFLX, XOM]","The Zacks Analyst Blog Highlights Exxon Mobil,...",Zacks,2025-03-12,STORY,https://finance.yahoo.com/news/zacks-analyst-b...,"[{'paragraph_number': 1, 'highlight': 'For Imm..."
2,6f59deb8-92da-3d77-a6f8-ef0c8e744219,"[BABA, WB]",Alibaba's 'killer app': Quark draws positive r...,South China Morning Post,2025-03-17,STORY,https://finance.yahoo.com/m/6f59deb8-92da-3d77...,"[{'paragraph_number': 1, 'highlight': '', 'par..."
3,ba20b750-8c32-32fb-a08d-045354777437,"[BABA, COMP, DRD, HCI, WGSWW, ^GSPC]",5 Stocks With Recent Price Strength Amid Extre...,Zacks,2025-03-18,STORY,https://finance.yahoo.com/news/5-stocks-recent...,"[{'paragraph_number': 1, 'highlight': '', 'par..."
4,7bc15b51-0bf3-37cf-9b53-1576e71a5a5f,"[BABA, COMP, DRD, EVER, HCI, WGSWW, ^GSPC]","Zacks.com featured highlights DRDGOLD, GeneDx,...",Zacks,2025-03-19,STORY,https://finance.yahoo.com/news/zacks-com-featu...,"[{'paragraph_number': 1, 'highlight': 'For Imm..."
...,...,...,...,...,...,...,...,...
614,a633a9c0-9bb9-3734-a19e-926045fda9c1,"[BABA, BABAF]",Alibaba Jumps Into AI Glasses Market,GuruFocus.com,2025-11-29,STORY,https://finance.yahoo.com/m/a633a9c0-9bb9-3734...,"[{'paragraph_number': 1, 'highlight': '', 'par..."
615,e52bec7c-e19f-3df7-be39-1c5977897b38,"[BABA, BABAF]",Alibaba (BABA) Earns $195 Price Target as AI a...,Insider Monkey,2025-11-29,STORY,https://finance.yahoo.com/news/alibaba-baba-ea...,"[{'paragraph_number': 1, 'highlight': '', 'par..."
616,7b8b9b0b-af0a-3ce6-9675-077d15b668bb,[BABA],What To Know Before Buying Alibaba Stock,Motley Fool,2025-11-29,STORY,https://finance.yahoo.com/m/7b8b9b0b-af0a-3ce6...,"[{'paragraph_number': 1, 'highlight': 'Key Poi..."
617,e13d4e62-92f0-3aa1-a722-bdf20b60b3cb,"[BABA, BABAF]","Alibaba Gains Lead as China's Top AI Enabler, ...",GuruFocus.com,2025-11-29,STORY,https://finance.yahoo.com/news/alibaba-gains-l...,"[{'paragraph_number': 1, 'highlight': '', 'par..."
618,9de33126-c265-3f9a-b920-2ec733b2d792,"[BABA, BABAF, BBY, CPB, DE, GOOG, KSS, NVDA]","The Score: Campbell’s, Kohl’s, Alphabet and Mo...",The Wall Street Journal,2025-11-29,STORY,https://finance.yahoo.com/m/9de33126-c265-3f9a...,"[{'paragraph_number': 1, 'highlight': '', 'par..."

### 5.2 Retrieve Specific News Content

*Next, we’ll fetch the full content of a specific news article using its unique ID.*
> **Tip:** Replace the news ID with any ID from the list to retrieve other articles.

In [16]:
news.get_news("a633a9c0-9bb9-3734-a19e-926045fda9c1")

,uuid,related_symbols,title,publisher,report_date,type,link,news
614,a633a9c0-9bb9-3734-a19e-926045fda9c1,"[BABA, BABAF]",Alibaba Jumps Into AI Glasses Market,GuruFocus.com,2025-11-29,STORY,https://finance.yahoo.com/m/a633a9c0-9bb9-3734...,"[{'paragraph_number': 1, 'highlight': '', 'par..."

### 5.3 Display Formatted News Article

*Finally, you can print a clean, formatted version of the article for easier reading.*
> **Tip:** `print_pretty_table` is ideal for quick reviews without parsing raw text.

In [18]:
news.print_pretty_table("a633a9c0-9bb9-3734-a19e-926045fda9c1")

                                       Alibaba Jumps Into AI Glasses Market
╭─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╮
│                                       GuruFocus.com / 2025-11-29 / STORY                                        │
│                                                  [BABA, BABAF]                                                  │
│       https://finance.yahoo.com/m/a633a9c0-9bb9-3734-a19e-926045fda9c1/alibaba-jumps-into-ai-glasses.html       │
│                                                                                                                 │
│                                                                                                                 │
│This article first appeared on GuruFocus.                                                                        │
│                                                                                                                 │
│Alibaba (NYSE:BABA) is officially stepping into the wearable tech race with the launch of its Quark AI smart     │
│glasses                                                                                                          │
│across China, turning artificial intelligence into something people can actually wear.                           │
│                                                                                                                 │
│The company is releasing 2 models. The Quark S1, priced at 3,799 yuan or about $537, uses translucent displays   │
│that                                                                                                             │
│place digital information directly in front of the user's eyes. It includes cameras, microphones, bone-conduction│
│audio, and swappable batteries that last up to 24 hours. A cheaper Quark G1 version sells for 1,899 yuan for     │
│buyers                                                                                                           │
│looking for a more affordable option.                                                                            │
│                                                                                                                 │
│Warning! GuruFocus has detected 3 Warning Signs with BABA.                                                       │
│                                                                                                                 │
│Is BABA fairly valued? Test your thesis with our free DCF calculator.                                            │
│                                                                                                                 │
│The glasses are already on sale through Alibaba's shopping platforms, JD.com, and Douyin, and in more than 600   │
│stores                                                                                                           │
│across 82 cities. Alibaba says international versions are planned for 2026 through AliExpress. wearables are     │
│emerging                                                                                                         │
│as the next big AI battlefield. Quark is Alibaba's boldest bet yet on turning AI into a consumer product.        │
│                                                                                                                 │
╰─────────────────────────────────────────────────────────────────────────────────────────────────────────────────╯