# Tutorial: Fetch Stock Financial Information with Python
*Learn how to retrieve basic stock data, including price, statement, earning calendar, earnings report, splits, dividends, revenue forecast, earnings forecast, summary, revenue breakdown, geography breakdown and product breakdown step by step using Python.*

## Step 1: Install and Import Required Packages, Initialize Ticker
*In this step, you’ll set up your Python environment and initialize a stock ticker object for fetching data.*

In [3]:
from defeatbeta_api.data.ticker import Ticker

In [4]:
ticker = Ticker("BABA")

----

## Step 2: Fetching Historical Stock Prices
*Before exploring company fundamentals, you can start by retrieving the stock’s historical daily price data.*
> **Tip:**
> `ticker.price()` returns all available historical OHLCV (open, high, low, close, volume) data.

In [5]:
ticker.price()

     symbol report_date    open   close    high     low     volume
0      BABA  2014-09-19   92.70   93.89   99.70   89.95  271879400
1      BABA  2014-09-22   92.70   89.89   92.95   89.50   66657800
2      BABA  2014-09-23   88.94   87.17   90.48   86.62   39009800
3      BABA  2014-09-24   88.47   90.57   90.57   87.22   32088000
4      BABA  2014-09-25   91.09   88.92   91.50   88.50   28598000
...     ...         ...     ...     ...     ...     ...        ...
2811   BABA  2025-11-21  151.98  152.93  155.88  148.64   16240800
2812   BABA  2025-11-24  160.00  160.73  161.50  158.70   21796600
2813   BABA  2025-11-25  165.20  157.01  166.37  156.15   27097500
2814   BABA  2025-11-26  159.10  157.60  161.46  150.00   21453100
2815   BABA  2025-11-28  156.16  157.30  158.69  155.68    7185500

[2816 rows x 7 columns]

---

## Step 3: Stock Statement

*In this section, you will learn how to retrieve various financial statements such as the income statement, balance sheet, and cash flow statement. These statements are essential for understanding a company’s financial performance.*

### 3.1 Quarterly Income Statement

*Fetch the company’s quarterly income statement to analyze revenue, net income, margins, and other profitability metrics.*
> * **Tip**: Use the same interface to retrieve the company’s quarterly income statement. The API returns a structured object that can be converted into a DataFrame or displayed as a formatted table.*

In [7]:
# Get quarterly income statement
statement = ticker.quarterly_income_statement()

In [ ]:
# Convert to pandas.DataFrame
df = statement.df()