# Tutorial: Fetch Stock Financial Information with Python
*Learn how to retrieve basic stock data, including price, statement, earning calendar, earnings report, splits, dividends, revenue forecast, earnings forecast, summary, revenue breakdown, geography breakdown and product breakdown step by step using Python.*

## Step 1: Install and Import Required Packages, Initialize Ticker
*In this step, you’ll set up your Python environment and initialize a stock ticker object for fetching data.*

In [2]:
from defeatbeta_api.data.ticker import Ticker

In [3]:
ticker = Ticker("BABA")

----

## Step 2: Fetching Historical Stock Prices
*Before exploring company fundamentals, you can start by retrieving the stock’s historical daily price data.*
> **Tip:**
> `ticker.price()` returns all available historical OHLCV (open, high, low, close, volume) data.

In [5]:
ticker.price()

     symbol report_date    open   close    high     low     volume
0      BABA  2014-09-19   92.70   93.89   99.70   89.95  271879400
1      BABA  2014-09-22   92.70   89.89   92.95   89.50   66657800
2      BABA  2014-09-23   88.94   87.17   90.48   86.62   39009800
3      BABA  2014-09-24   88.47   90.57   90.57   87.22   32088000
4      BABA  2014-09-25   91.09   88.92   91.50   88.50   28598000
...     ...         ...     ...     ...     ...     ...        ...
2811   BABA  2025-11-21  151.98  152.93  155.88  148.64   16240800
2812   BABA  2025-11-24  160.00  160.73  161.50  158.70   21796600
2813   BABA  2025-11-25  165.20  157.01  166.37  156.15   27097500
2814   BABA  2025-11-26  159.10  157.60  161.46  150.00   21453100
2815   BABA  2025-11-28  156.16  157.30  158.69  155.68    7185500

[2816 rows x 7 columns]

---

## Step 3: Stock Statement

*In this section, you will learn how to retrieve various financial statements such as the income statement, balance sheet, and cash flow statement. These statements are essential for understanding a company’s financial performance.*

### 3.1 Quarterly Income Statement

*Fetch the company’s quarterly income statement to analyze revenue, net income, margins, and other profitability metrics.*
> * **Tip**: Use the same interface to retrieve the company’s quarterly income statement. The API returns a structured object that can be converted into a DataFrame or displayed as a formatted table.*

In [4]:
# Get quarterly income statement
statement = ticker.quarterly_income_statement()

In [7]:
# Convert to pandas.DataFrame
statement.df()

,Breakdown,TTM,2025-09-30,2025-06-30,2025-03-31,2024-12-31,2024-09-30,2024-06-30,2024-03-31,2023-12-31,2023-09-30,2023-06-30,2023-03-31,2022-12-31,2022-09-30,2022-06-30
0,Total Revenue,1012055000000.0,247795000000.0,247652000000.0,236454000000.0,280154000000.0,236503000000.0,243236000000.0,221874000000.0,260348000000.0,224790000000.0,234156000000.0,*,*,*,205555000000.0
1,Operating Revenue,969370000000.0,247795000000.0,247652000000.0,193769000000.0,280154000000.0,236503000000.0,243236000000.0,183038000000.0,260348000000.0,224790000000.0,234156000000.0,*,*,*,205555000000.0
2,Cost of Revenue,595360000000.0,150781000000.0,136429000000.0,145626000000.0,162524000000.0,144029000000.0,146106000000.0,148098000000.0,156214000000.0,139664000000.0,142347000000.0,*,*,*,129657000000.0
3,Gross Profit,416695000000.0,97014000000.0,111223000000.0,90828000000.0,117630000000.0,92474000000.0,97130000000.0,73776000000.0,104134000000.0,85126000000.0,91809000000.0,*,*,*,75898000000.0
4,Operating Expense,300501000000.0,91649000000.0,76235000000.0,62363000000.0,70254000000.0,57228000000.0,61141000000.0,59011000000.0,73133000000.0,51542000000.0,47288000000.0,*,*,*,50955000000.0
5,Selling General and Administrative,234488000000.0,73876000000.0,60576000000.0,46510000000.0,53526000000.0,42248000000.0,45976000000.0,42845000000.0,45044000000.0,34893000000.0,34344000000.0,*,*,*,34011000000.0
6,General & Administrative Expense,35960000000.0,7380000000.0,7398000000.0,10331000000.0,10851000000.0,9777000000.0,13280000000.0,14019000000.0,11261000000.0,9408000000.0,7297000000.0,*,*,*,8433000000.0
7,Other G and A,35960000000.0,7380000000.0,7398000000.0,10331000000.0,10851000000.0,9777000000.0,13280000000.0,14019000000.0,11261000000.0,9408000000.0,7297000000.0,*,*,*,8433000000.0
8,Selling & Marketing Expense,198528000000.0,66496000000.0,53178000000.0,36179000000.0,42675000000.0,32471000000.0,32696000000.0,28826000000.0,33783000000.0,25485000000.0,27047000000.0,*,*,*,25578000000.0
9,Research & Development,61692000000.0,17095000000.0,15001000000.0,14934000000.0,14662000000.0,14182000000.0,13373000000.0,14085000000.0,13488000000.0,14218000000.0,10465000000.0,*,*,*,14193000000.0
10,Depreciation Amortization Depletion,4528000000.0,826000000.0,807000000.0,833000000.0,2062000000.0,1649000000.0,1792000000.0,2081000000.0,14601000000.0,2431000000.0,2479000000.0,*,*,*,2751000000.0
11,Depreciation & Amortization,4528000000.0,826000000.0,807000000.0,833000000.0,2062000000.0,1649000000.0,1792000000.0,2081000000.0,14601000000.0,2431000000.0,2479000000.0,*,*,*,2751000000.0
12,Amortization,4528000000.0,826000000.0,807000000.0,833000000.0,2062000000.0,1649000000.0,1792000000.0,2081000000.0,14601000000.0,2431000000.0,2479000000.0,*,*,*,2751000000.0
13,Amortization of Intangibles,4528000000.0,826000000.0,807000000.0,833000000.0,2062000000.0,1649000000.0,1792000000.0,2081000000.0,14601000000.0,2431000000.0,2479000000.0,*,*,*,2751000000.0
14,Other Operating Expenses,-207000000.0,-148000000.0,-149000000.0,86000000.0,4000000.0,-851000000.0,*,*,*,*,*,*,*,*,*
15,Operating Income,116194000000.0,5365000000.0,34988000000.0,28465000000.0,47376000000.0,35246000000.0,35989000000.0,14765000000.0,31001000000.0,33584000000.0,44521000000.0,*,*,*,24943000000.0
16,Net Non-Operating Interest Income Expense,31122000000.0,17575000000.0,14898000000.0,-10012000000.0,8661000000.0,16180000000.0,-3666000000.0,-7879000000.0,-5632000000.0,3282000000.0,-1784000000.0,*,*,*,4125000000.0
17,Non-Operating Interest Income,41098000000.0,20092000000.0,17376000000.0,-7516000000.0,11146000000.0,18607000000.0,*,*,*,5136000000.0,*,*,15516000000.0,*,5369000000.0
18,Non-Operating Interest Expense,9976000000.0,2517000000.0,2478000000.0,2496000000.0,2485000000.0,2427000000.0,3666000000.0,7879000000.0,5632000000.0,1854000000.0,1784000000.0,*,*,*,1244000000.0
19,Other Income Expense,-234000000.0,981000000.0,348000000.0,20000000.0,-1583000000.0,-1478000000.0,257000000.0,2963000000.0,-8051000000.0,1391000000.0,-6565000000.0,*,*,*,109000000.0
20,Gain on Sale of Security,*,*,*,*,*,*,-1478000000.0,*,*,*,-5898000000.0,*,*,*,*
21,Special Income Charges,-6171000000.0,*,*,0.0,-6171000000.0,0.0,0.0,0.0,-8490000000.0,0.0,-2031000000.0,*,*,*,*
22,Impairment of Capital Assets,6171000000.0,*,*,0.0,6171000000.0,0.0,0.0,0.0,8490000000.0,0.0,2031000000.0,*,*,*,*
23,Other Non Operating Income Expenses,5937000000.0,981000000.0,348000000.0,20000000.0,4588000000.0,-1478000000.0,257000000.0,2963000000.0,439000000.0,1391000000.0,1364000000.0,*,*,*,109000000.0
24,Pretax Income,147082000000.0,23921000000.0,50234000000.0,18473000000.0,54454000000.0,49948000000.0,32580000000.0,9849000000.0,17318000000.0,38257000000.0,36172000000.0,*,*,*,29177000000.0
25,Tax Provision,32418000000.0,5550000000.0,8865000000.0,6854000000.0,11149000000.0,7379000000.0,10063000000.0,5722000000.0,4988000000.0,5797000000.0,6022000000.0,*,*,*,5399000000.0
26,Earnings from Equity Interest Net of Tax,6737000000.0,2241000000.0,1013000000.0,354000000.0,3129000000.0,978000000.0,1505000000.0,-3208000000.0,-1613000000.0,-5764000000.0,2850000000.0,*,*,*,-3480000000.0
27,Net Income Common Stockholders,125433000000.0,20990000000.0,43116000000.0,12382000000.0,48945000000.0,43874000000.0,24269000000.0,3270000000.0,14433000000.0,27706000000.0,34332000000.0,*,*,*,22739000000.0
28,Net Income(Attributable to Parent Company Shar...,123354000000.0,21019000000.0,40649000000.0,12559000000.0,49127000000.0,44033000000.0,24390000000.0,3365000000.0,14555000000.0,27847000000.0,34242000000.0,*,*,*,22659000000.0
29,Net Income Including Non-Controlling Interests,121401000000.0,20612000000.0,42382000000.0,11973000000.0,46434000000.0,43547000000.0,24022000000.0,919000000.0,10717000000.0,26696000000.0,33000000000.0,*,*,*,20298000000.0
30,Net Income Continuous Operations,121401000000.0,20612000000.0,42382000000.0,11973000000.0,46434000000.0,43547000000.0,24022000000.0,919000000.0,10717000000.0,26696000000.0,33000000000.0,*,*,*,20298000000.0
31,Minority Interests,1953000000.0,407000000.0,-1733000000.0,586000000.0,2693000000.0,486000000.0,368000000.0,2446000000.0,3838000000.0,1151000000.0,1242000000.0,*,*,*,2361000000.0
32,Otherunder Preferred Stock Dividend,-2079000000.0,29000000.0,-2467000000.0,177000000.0,182000000.0,159000000.0,121000000.0,95000000.0,122000000.0,141000000.0,-90000000.0,*,*,*,-80000000.0
33,Adjustments for Dilutive Securities,-144000000.0,-24000000.0,-91000000.0,-12000000.0,-17000000.0,13000000.0,-49000000.0,-15000000.0,-79000000.0,-66000000.0,-68000000.0,*,*,-1000000.0,*
34,Diluted NI Available to Com Stockholders,125289000000.0,20966000000.0,43025000000.0,12370000000.0,48928000000.0,43887000000.0,24220000000.0,3255000000.0,14354000000.0,27640000000.0,34264000000.0,*,*,*,22739000000.0
35,Basic EPS,51.2,9.04,18.56,5.36,21.04,18.72,10.08,1.36,5.76,10.88,13.44,9.12,*,*,8.56
36,Diluted EPS,50.72,8.72,18.0,5.2,20.4,18.16,9.92,1.28,5.68,10.8,13.28,8.96,*,*,8.48
37,Basic Average Shares,2571437500.0,2319375000.0,2321250000.0,2310875000.0,2323250000.0,2345125000.0,2416125000.0,2470375000.0,2517250000.0,2541875000.0,2561625000.0,2581375000.0,*,*,2662375000.0
38,Diluted Average Shares,2591625000.0,2396000000.0,2392750000.0,2394125000.0,2400000000.0,2415250000.0,2449375000.0,2497500000.0,2540125000.0,2565750000.0,2576000000.0,2610250000.0,*,*,2673000000.0
39,Total Operating Income as Reported,110023000000.0,5365000000.0,34988000000.0,28465000000.0,41205000000.0,35246000000.0,35989000000.0,14765000000.0,22511000000.0,33584000000.0,42490000000.0,*,*,*,24943000000.0
40,Total Expenses,895861000000.0,242430000000.0,212664000000.0,207989000000.0,232778000000.0,201257000000.0,207247000000.0,207109000000.0,229347000000.0,191206000000.0,189635000000.0,*,*,*,180612000000.0
41,Net Income from Continuing & Discontinued Oper...,123354000000.0,21019000000.0,40649000000.0,12559000000.0,49127000000.0,44033000000.0,24390000000.0,3365000000.0,14555000000.0,27847000000.0,34242000000.0,*,*,*,22659000000.0
42,Normalized Income,128164864306.99,21019000000.0,40649000000.0,12559000000.0,54034539482.87,44033000000.0,24390000000.0,3365000000.0,20599676059.59,27847000000.0,40850961351.32,*,*,*,22659000000.0
43,Interest Income,41098000000.0,20092000000.0,17376000000.0,-7516000000.0,11146000000.0,18607000000.0,*,*,*,5136000000.0,*,*,15516000000.0,*,5369000000.0
44,Interest Expense,9976000000.0,2517000000.0,2478000000.0,2496000000.0,2485000000.0,2427000000.0,3666000000.0,7879000000.0,5632000000.0,1854000000.0,1784000000.0,*,*,*,1244000000.0
45,Net Interest Income,31122000000.0,17575000000.0,14898000000.0,-10012000000.0,8661000000.0,16180000000.0,-3666000000.0,-7879000000.0,-5632000000.0,3282000000.0,-1784000000.0,*,*,*,4125000000.0
46,EBIT,157058000000.0,26438000000.0,52712000000.0,20969000000.0,56939000000.0,52375000000.0,36246000000.0,17728000000.0,22950000000.0,40111000000.0,37956000000.0,*,*,*,30421000000.0
47,EBITDA,161586000000.0,27264000000.0,53519000000.0,21802000000.0,59001000000.0,54024000000.0,38038000000.0,19809000000.0,37551000000.0,42542000000.0,40435000000.0,*,*,*,*
48,Reconciled Cost of Revenue,595360000000.0,150781000000.0,136429000000.0,145626000000.0,162524000000.0,144029000000.0,146106000000.0,148098000000.0,156214000000.0,139664000000.0,142347000000.0,*,*,*,129657000000.0
49,Reconciled Depreciation,4528000000.0,826000000.0,807000000.0,833000000.0,2062000000.0,1649000000.0,1792000000.0,2081000000.0,14601000000.0,2431000000.0,2479000000.0,*,*,*,2751000000.0
50,Net Income from Continuing Operation Net Minor...,123354000000.0,21019000000.0,40649000000.0,12559000000.0,49127000000.0,44033000000.0,24390000000.0,3365000000.0,14555000000.0,27847000000.0,34242000000.0,*,*,*,22659000000.0
51,Total Unusual Items Excluding Goodwill,-6171000000.0,*,*,0.0,-6171000000.0,0.0,-1478000000.0,0.0,-8490000000.0,0.0,-7929000000.0,*,*,*,*
52,Total Unusual Items,-6171000000.0,*,*,0.0,-6171000000.0,0.0,-1478000000.0,0.0,-8490000000.0,0.0,-7929000000.0,*,*,*,*
53,Normalized EBITDA,167757000000.0,27264000000.0,53519000000.0,21802000000.0,65172000000.0,54024000000.0,38038000000.0,19809000000.0,46041000000.0,42542000000.0,48364000000.0,*,*,*,33172000000.0
54,Tax Rate for Calcs,0.22,0.23,0.18,0.37,0.2,0.15,0.31,0.25,0.29,0.15,0.17,*,*,*,0.21
55,Tax Effect of Unusual Items,-1360135693.01,0.0,0.0,0.0,-1263460517.13,0.0,0.0,0.0,-2445323940.41,0.0,-1320038648.68,*,*,*,0.0

In [5]:
# Print formatted table for easy reading
statement.print_pretty_table()

### 3.2 Annual Income Statement

*Fetch the company’s annual income statement to analyze revenue, net income, margins, and other profitability metrics.*
> * **Tip**: Use the same interface to retrieve the company’s annual income statement. The API returns a structured object that can be converted into a DataFrame or displayed as a formatted table.*

In [9]:
# Get quarterly income statement
statement = ticker.annual_income_statement()

In [10]:
# Convert to pandas.DataFrame
statement.df()

,Breakdown,2025-03-31,2024-03-31,2023-03-31,2022-03-31,2021-03-31,2020-03-31
0,Total Revenue,996347000000.0,941168000000.0,868687000000.0,853062000000.0,717289000000.0,*
1,Operating Revenue,953662000000.0,902332000000.0,832100000000.0,816311000000.0,689238000000.0,*
2,Cost of Revenue,598285000000.0,586323000000.0,549695000000.0,539450000000.0,421205000000.0,*
3,Gross Profit,398062000000.0,354845000000.0,318992000000.0,313612000000.0,296084000000.0,*
4,Operating Expense,250986000000.0,230974000000.0,215927000000.0,218833000000.0,206406000000.0,*
5,Selling General and Administrative,188260000000.0,157126000000.0,145679000000.0,151721000000.0,136743000000.0,*
6,General & Administrative Expense,44239000000.0,41985000000.0,42183000000.0,31922000000.0,55224000000.0,*
7,Other G and A,44239000000.0,41985000000.0,42183000000.0,31922000000.0,55224000000.0,*
8,Selling & Marketing Expense,144021000000.0,115141000000.0,103496000000.0,119799000000.0,81519000000.0,*
9,Research & Development,57151000000.0,52256000000.0,56744000000.0,55465000000.0,57236000000.0,*
10,Depreciation Amortization Depletion,6336000000.0,21592000000.0,13504000000.0,11647000000.0,12427000000.0,*
11,Depreciation & Amortization,6336000000.0,21592000000.0,13504000000.0,11647000000.0,12427000000.0,*
12,Amortization,6336000000.0,21592000000.0,13504000000.0,11647000000.0,12427000000.0,*
13,Amortization of Intangibles,6336000000.0,21592000000.0,13504000000.0,11647000000.0,12427000000.0,*
14,Other Operating Expenses,-761000000.0,*,*,*,*,-998000000.0
15,Operating Income,147076000000.0,123871000000.0,103065000000.0,94779000000.0,89678000000.0,*
16,Net Non-Operating Interest Income Expense,11163000000.0,-17911000000.0,-16989000000.0,-20611000000.0,68318000000.0,*
17,Non-Operating Interest Income,20759000000.0,*,*,*,72794000000.0,72956000000.0
18,Non-Operating Interest Expense,9596000000.0,17911000000.0,16989000000.0,20611000000.0,4476000000.0,*
19,Other Income Expense,-2784000000.0,-4364000000.0,3109000000.0,-14618000000.0,7582000000.0,*
20,Gain on Sale of Security,*,*,*,*,*,-514000000.0
21,Special Income Charges,-6171000000.0,-10521000000.0,-2714000000.0,-25141000000.0,0.0,*
22,Restructuring & Mergers Acquisition,*,*,*,*,*,97000000.0
23,Impairment of Capital Assets,6171000000.0,10521000000.0,2714000000.0,25141000000.0,0.0,*
24,Other Special Charges,*,*,*,*,*,-3835000000.0
25,Other Non Operating Income Expenses,3387000000.0,6157000000.0,5823000000.0,10523000000.0,7582000000.0,*
26,Pretax Income,155455000000.0,101596000000.0,89185000000.0,59550000000.0,165578000000.0,*
27,Tax Provision,35445000000.0,22529000000.0,15549000000.0,26815000000.0,29278000000.0,*
28,Earnings from Equity Interest Net of Tax,5966000000.0,-7735000000.0,-8063000000.0,14344000000.0,6984000000.0,*
29,Net Income Common Stockholders,129470000000.0,79741000000.0,72509000000.0,61959000000.0,150308000000.0,*
30,Net Income(Attributable to Parent Company Shar...,130109000000.0,80009000000.0,72783000000.0,62249000000.0,150578000000.0,*
31,Net Income Including Non-Controlling Interests,125976000000.0,71332000000.0,65573000000.0,47079000000.0,143284000000.0,*
32,Net Income Continuous Operations,125976000000.0,71332000000.0,65573000000.0,47079000000.0,143284000000.0,*
33,Minority Interests,4133000000.0,8677000000.0,7210000000.0,15170000000.0,7294000000.0,*
34,Otherunder Preferred Stock Dividend,639000000.0,268000000.0,274000000.0,290000000.0,270000000.0,*
35,Adjustments for Dilutive Securities,-65000000.0,-228000000.0,-38000000.0,-37000000.0,-55000000.0,*
36,Diluted NI Available to Com Stockholders,129405000000.0,79513000000.0,72471000000.0,61922000000.0,150253000000.0,*
37,Basic EPS,55.12,31.6,27.68,22.96,55.6,*
38,Diluted EPS,53.6,31.28,27.44,22.72,54.72,*
39,Basic Average Shares,2348875000.0,2522750000.0,2622500000.0,2694750000.0,2702375000.0,*
40,Diluted Average Shares,2414750000.0,2544875000.0,2639250000.0,2723375000.0,2747750000.0,*
41,Total Operating Income as Reported,140905000000.0,113350000000.0,100351000000.0,69638000000.0,89678000000.0,*
42,Total Expenses,849271000000.0,817297000000.0,765622000000.0,758283000000.0,627611000000.0,*
43,Net Income from Continuing & Discontinued Oper...,130109000000.0,80009000000.0,72783000000.0,62249000000.0,150578000000.0,*
44,Normalized Income,134872961982.57,88196959240.52,75023826417.0,81104750000.0,150578000000.0,*
45,Interest Income,20759000000.0,*,*,*,72794000000.0,72956000000.0
46,Interest Expense,9596000000.0,17911000000.0,16989000000.0,20611000000.0,4476000000.0,*
47,Net Interest Income,11163000000.0,-17911000000.0,-16989000000.0,-20611000000.0,68318000000.0,*
48,EBIT,165051000000.0,119507000000.0,106174000000.0,80161000000.0,170054000000.0,*
49,EBITDA,207510000000.0,164011000000.0,153112000000.0,128226000000.0,217963000000.0,*
50,Reconciled Cost of Revenue,562162000000.0,563411000000.0,516261000000.0,503032000000.0,385723000000.0,*
51,Reconciled Depreciation,42459000000.0,44504000000.0,46938000000.0,48065000000.0,47909000000.0,*
52,Net Income from Continuing Operation Net Minor...,130109000000.0,80009000000.0,72783000000.0,62249000000.0,150578000000.0,*
53,Total Unusual Items Excluding Goodwill,-6171000000.0,-10521000000.0,-2714000000.0,-25141000000.0,0.0,*
54,Total Unusual Items,-6171000000.0,-10521000000.0,-2714000000.0,-25141000000.0,0.0,*
55,Normalized EBITDA,213681000000.0,174532000000.0,155826000000.0,153367000000.0,217963000000.0,*
56,Tax Rate for Calcs,0.23,0.22,0.17,0.25,0.18,*
57,Tax Effect of Unusual Items,-1407038017.43,-2333040759.48,-473173583.0,-6285250000.0,0.0,*

In [11]:
# Print formatted table for easy reading
statement.print_pretty_table()