# Tutorial: Fetch Basic Stock Information with Python
*Learn how to retrieve basic stock data, including company profile, key officers, earnings call transcripts and news step by step using Python.*

## Step 1: Install and Import Required Packages, Initialize Ticker
*In this step, you’ll set up your Python environment and initialize a stock ticker object for fetching data.*

In [9]:
from defeatbeta_api.data.ticker import Ticker

In [10]:
ticker = Ticker("BABA")

## Step 2: Fetch and Inspect Stock Profile Data

*You will learn how to access basic stock metrics such as market capitalization, sector, industry, and other company details.*

In [11]:
ticker.info()

,symbol,address,city,country,phone,zip,industry,sector,long_business_summary,full_time_employees,web_site,report_date
0,BABA,"26/F 1 Matheson Street, Tower One, Times Square",Causeway Bay,Hong Kong,852 2215 5100,None,Internet Retail,Consumer Cyclical,"Alibaba Group Holding Limited, through its sub...",126661,https://www.alibabagroup.com,2025-11-29

## Step 3: Retrieve Key Officers and Management Information

*In this step, you’ll extract information about the company’s executives and board members.*

In [12]:
ticker.officers()

,symbol,name,title,age,born,pay,exercised,unexercised
0,BABA,Lydia Lu,Head of Investor Relations,<NA>,<NA>,<NA>,0,0
1,BABA,Mr. Hong Xu,Chief Financial Officer,51,1973,<NA>,0,0
2,BABA,Mr. J. Michael Evans,President & Director,66,1958,<NA>,0,0
3,BABA,Mr. Joseph C. Tsai,Executive Chairman,60,1964,<NA>,0,0
4,BABA,Mr. Xiaofeng Shao,Group Executive Vice President,58,1966,<NA>,0,0
5,BABA,Mr. Yongming Wu,"CEO, Head of Core E-Commerce Business & Director",49,1975,<NA>,0,0
6,BABA,Mr. Yuen Jen Yao,Senior VP & Head of Corporate Finance,<NA>,<NA>,<NA>,0,0
7,BABA,Mr. Zeming Wu,Chairman & Chief Executive Officer of Ele.me a...,44,1980,<NA>,0,0
8,BABA,Ms. Fang Jiang,Chief People Officer,50,1974,<NA>,0,0
9,BABA,Ms. Siying Yu,General Counsel,50,1974,<NA>,0,0